<?xml version="1.0"?>
<model>
  <name>x500_lidar_front_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name></name>
    <email></email>
  </author>
  <description>An x500 with a forward-facing lidar for collision prevention and a mono camera</description>
</model>
